
@{
    ViewData["Title"] = "Post";
}


@model Blog

<div class="row">

    @*current blog content*@
    <div class="col-md-8 border p-3 vh-50">

        <h2 class="text-center mb-2">@(Model.Header + " "+Model.Id)</h2>

        <img class="  d-flex justify-content-center mb-2 mx-auto" src="@Model.ImagePath" />
        <p class="border text-center p-3">

            @Model.Content

        </p>


        <div class="row">

            @{
                foreach (var item in Model.Comments)
                {
                    <div class="col-md-8 mx-auto border p-3 mb-2 shadow-sm">

                        <h4 class="text-center">@item.Id</h4>
                        <h5 class="text-center text-danger">@item.CommentDate.ToString()</h5>
                        
                        <p class="text-center ">@item.CommentContent</p>

                    </div>
                }


                <form class="mt-2" asp-action="CommentAdd" method="post">


                    <input type="hidden" name="blogId" value="@Model.Id" />
                    <textarea class="form-control" name="CommentContent" rows="3"></textarea>

                    <button class="btn btn-success">Add Comment</button>

                </form>
            }

        </div>


    </div>
    @*recent blog area*@
    <div class="col-md-4 border vh-50">



        <partial name="~/views/shared/RecentBlogPartial.cshtml" model="(List<Blog>)ViewBag.recentBlogs" />
        <partial name="~/views/shared/_RecentCommentsPartial.cshtml" model="(List<Comment>)ViewBag.recentComments" />




    </div>


</div>
